/**
 * @desc 后台样式
 * @author Jafeney <692270687@qq.com>
 * @dateTime 2016-12-23
 **/
.index_body {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.index_nav {
  display: flex;
  position: relative;
}
.index_search {
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.index_search_content {
  margin-top: 10px;
  margin-bottom: 10px;
}
.personlist_btn_parent {
  margin-top: 15px;
  margin-bottom: 15px;
}
.personlist_btn_parent_reset {
  margin-top: 10px;
}
.index_empty {
  width: 300px;
  text-align: center;
}
.index_table th {
  text-align: center;
  width: 11%;
}
.index_data_empty {
  text-align: center;
  width: 100%;
}
.index_pagination {
  margin-left: auto;
  margin-right: auto;
}
.itemTd {
  text-align: center;
}
.itemBtn {
  margin: 5px;
}
.personlist_page {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
.action_btn {
  margin-right: 20px;
  width: 120px;
}
.form-group {
  padding: 10px;
}
